<%= form_for(@link) do |f| %>
  <% if @link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
      <% @link.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field form-group has-primary">
    <%= f.label :tittle, class: "control-label", for: "title" %>
    <%= f.text_field :tittle, class: "form-control", id: "title" %>
  </div>
  <div class="field form-group has-primary">
    <%= f.label :url, class: "control-label", for: "url" %>
    <%= f.text_field :url, class: "form-control", id: "url" %>
  </div>
  <div class="actions">
    <%= f.submit "Validate", class: "btn btn-flat btn-primary" %>
  </div>
<% end %>
