<!DOCTYPE html>
<html>
<head>
  <title>HackerLike</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="navbar navbar-material-indigo-700">
    <div class="container">
      <a href="/" class="navbar-brand">HackerLike</a>
      <ul class="pull-right">
        <% if user_signed_in? %>
          <li><%= link_to 'Share link', new_link_path %></li>
          <li><%= link_to 'Edit', edit_user_registration_path %></li>
          <li><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li>
        <% else %>
          <li><%= link_to 'Login', new_user_registration_path %></li>
          <li><%= link_to 'Sign Up', new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </header>
  <main class="container">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </main>
</body>
</html>
